.app{
  margin:0;
  display:grid;
  place-items:center;

}
main{
  border: 1px solid black;
  width:500px;
  border-radius: 5px;
  padding:15px;
  margin-top:20px;
  
}
main:hover{
  box-shadow: 5px 5px 5px 5px silver;
}
button{
  border:none;
  background:none;
}
button:hover{
  box-shadow: 5px 5px 5px 5px silver;
}
.deleteBtn:hover{
  box-shadow: 5px 5px 5px 5px silver;
}